<div class="container">
    <div class="datos">
        <div class="mio">
            <h1>Hola Mundo</h1>

            <h3>Me Llamo</h3>
            <h2><span>J</span>esus Antonio Hernandez Morale<span>S</span></h2>
            <p>Soy Licenciado en Arquitectura de la Benemérita Universidad Autónoma de Puebla,  programador autodidactica, Front End, Backend Web y Movil.
            </p>
        </div>
    </div>
    <div class="cont">


            <img src="/assets/img/cats.jpg" alt="">

    </div>

</div>
