<div class="container">
   <div class="body">
     <div class="card">
        <div class="desc">
            <h2>hola mundo</h2>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi suscipit, esse, sit dolorem ad cupiditate voluptatem porro animi impedit ipsum corrupti delectus incidunt dicta nostrum labore nemo fugiat ducimus. Expedita.
        </div>
        <div class="img">
            <img src="/assets/img/basar.png" alt="">
        </div>
        <div class="datos">
            <span>
                <img src="/assets/img/react.png" alt="">
                <p>React</p> 
            </span>
            <span>
                <img src="/assets/img/next.png" alt="">
                <p>Next js</p> 
                   
            </span>
            <span>
                <img src="/assets/img/graphql.png" alt="">
                <p>Graphql</p> 
            </span>
            <span>
                <p>Repositorio</p> 
                <a href="">
                    <i class="fa-brands fa-github"></i>
                </a>
            </span>
            
            
        </div>
     </div>
     

     <div class="card">
        <div class="desc">
            <h2>hola mundo</h2>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi suscipit, esse, sit dolorem ad cupiditate voluptatem porro animi impedit ipsum corrupti delectus incidunt dicta nostrum labore nemo fugiat ducimus. Expedita.
        </div>
        <div class="img">
            <img src="/assets/img/basar.png" alt="">
        </div>
        <div class="datos">
            <span>
                <img src="/assets/img/flutter.png" alt="">
                <p>Flutter</p> 
            </span>
            <span>
                <img src="/assets/img/bloc.png" alt="">
                <p>Bloc</p> 
                   
            </span>
            <span>
                <p>Repositorio</p> 
                <a href="">
                    <i class="fa-brands fa-github"></i>
                </a>
            </span>
            
            
        </div>
     </div>


     <div class="card">
        <div class="desc">
            <h2>hola mundo</h2>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi suscipit, esse, sit dolorem ad cupiditate voluptatem porro animi impedit ipsum corrupti delectus incidunt dicta nostrum labore nemo fugiat ducimus. Expedita.
        </div>
        <div class="img">
            <img src="/assets/img/basar.png" alt="">
        </div>
        <div class="datos">
            <span>
                <img src="/assets/img/react.png" alt="">
                <p>React Ntive</p> 
            </span>
            
            <span>
                <p>Repositorio</p> 
                <a href="">
                    <i class="fa-brands fa-github"></i>
                </a>
            </span>
            
            
        </div>
     </div>


     <div class="card">
        <div class="desc">
            <h2>hola mundo</h2>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi suscipit, esse, sit dolorem ad cupiditate voluptatem porro animi impedit ipsum corrupti delectus incidunt dicta nostrum labore nemo fugiat ducimus. Expedita.
        </div>
        <div class="img">
            <img src="/assets/img/basar.png" alt="">
        </div>
        <div class="datos">
            <span>
                <i class="fa-brands fa-angular"></i>
                <p>Angular</p> 
            </span>
            
            
        </div>
     </div>

     
   </div>
</div>