<div class="container">
   <div class="datos">
       <h1><span>Y..</span>0</h1>
       <p >Iniciando en este mundo de la programación en el año del 2019 por curiosidad, tomando clases en YouTube como Cursos en línea empezando con el lenguaje c# y c++ con la idea de usar assets modelados por mí, iniciando con Unity y Unreal Enginer.  Por cuestiones de mi carrera me enfoque al software con la finalidad de automatizar la construcción.
        Experiencia en el área laboral de la construcción, trabajo colaborativo, documentación, soluciones de problemas en el momento</p>
   </div>
   <div class="actividad">
       <div class="body">

           <div class="item" *ngFor="let item of list">
               <div class="dato">

                    <img src="/src/assets/img/pngegg.png" alt="" *ngIf="false" >
                   <i class="{{item.icono}}"></i>
                   <span>{{item.nombre}}</span>


               </div>
           </div>

       </div>
   </div>
</div>
